.hamburger-btn {
  z-index: 99;
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  background: var(--color-primary);
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
  top: 0;
  right: 0;
  transition: 250ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sidenav-link {
  transition: 250ms;
  font-size: 3rem;
  text-decoration: underline;
  cursor: pointer;
}

.open {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .hamburger-btn {
    display: block;
  }
}
