.navbar {
  background-color: var(--color-primary);
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: height 0.5s, background-color 0.25s;
  transition-timing-function: ease-out;
}

.navbar.active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 50px;
}

.logo-btn {
  height: 35px;
  width: 40px;
  border: unset;
  background-color: unset;
  border: var(--color-text) solid 2px;
  color: #ff928b;
  border: 2px solid #ff928b;
  cursor: pointer;
  font-size: 22px;
}

.nav-link {
  margin: 0px 32px 0px 32px;
  height: 32px;
  color: #ff928b;
  border: unset;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:focus {
  outline: none;
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .buttons {
    display: none;
  }
}
